@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);}

.imagem{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf6ff;}

.imagem img{
    width: 45rem;
    height: 37rem;}

.form{
    width: 50%; 
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color: #fff;
    padding: 3rem;}

.form-header{
    transform: translate(-10%, -50%);
    font-size: 30px;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: black;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;}

.imput-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 0;}

.imput-box input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;}    

.imput-box input{
    width: 500px;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;}  
    

.imput-box input:hover{
    background-color: #eeeeee75;}


.register-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: yellow;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;}

.register-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 700;
    color: #fff;
}

@media screen and (max-width: 1330px) {

.imagem {
    display: none;}
.container {
    width: 50%;}
.form {
     width: 100%;}
    }

@media screen and (max-width: 1064px) {

.container {
    width: 90%;
    height: auto;}
    
.input-group {
    flex-direction: column;
    z-index: 5;
    padding-right: 5rem;
    max-height: 10rem;
    overflow-y: scroll;
    flex-wrap: nowrap;}
    }

